<div class="container">
  <form
    [formGroup]="frontendEngineerForm"
    (ngSubmit)="onSubmit()"
    class="main-form"
  >
    <div class="question-section">
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName" />
    </div>

    <div class="question-section">
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName" />
    </div>

    <div class="question-section">
      <label for="date-of-birth">Date of birth: </label>
      <mat-form-field class="example-full-width">
        <mat-label> MM/DD/YYYY </mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button type="button" (click)="picker.open()">
        Open
      </button>
    </div>

    <div class="question-section">
      <label for="fe-technology">FE technology: </label>
      <select formControlName="feTechnology">
        <option *ngFor="let tech of techData | keyvalue" [ngValue]="tech.key">
          {{ tech.key }}
        </option>
      </select>
    </div>

    <div class="question-section">
      <label for="technology-version">Technology Version: </label>
      <select formControlName="feTechnologyVersion">
        <ng-container *ngIf="frontendEngineerForm.value.feTechnology">
          <option
            *ngFor="
              let version of techData[frontendEngineerForm.value.feTechnology]
            "
            [ngValue]="version"
          >
            {{ version }}
          </option>
        </ng-container>
      </select>
    </div>

    <div class="question-section">
      <label for="email">Email: </label>
      <input id="email" type="email" formControlName="email" />
    </div>

    <button type="submit" [disabled]="!frontendEngineerForm.valid">
      Submit
    </button>
  </form>
</div>
